.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #000;
    color: #fff;
    min-height: 170vh;
    position: relative;
  }
  
  .section::before {
    content: '';
    position: absolute;
    bottom: -50px; 
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, #000000, transparent);
    z-index: 10001;
  }
  
  .heading {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 
        1px 1px 0 #ddbd66, 
        -1px -1px 0 #000000, 
        1px -1px 0 #ddbd66, 
        -1px 1px 0 #000000;
  }
  
  .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 6%;
    max-width: 1000px;
    margin-bottom: 50px;
  }
  
  .photoContainer {
    flex: 0 0 auto;
    margin-right: 5rem;
    margin-left: -6%;
    border-radius: 10px;
    background-color: #000000;
    animation: slideInLeft 1s ease-out forwards;
  }
  
  .photo {
    width: 325px;
    height: 450px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 1px 1px 60px 0px #7d6c3d7e;

  }
  
  .textContainer {
    flex: 1;
    animation: slideInRight 1s ease-out forwards;
  }
  
  .descriptionContainer {
    width: 100%;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 10px;
    position: relative;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    font-size: 21px;
  }
  
  .descriptionContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: 400%;
    animation: neon 5s linear infinite;
    z-index: -1;
  }
  
  @keyframes neon {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  
  .rolesContainer {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 7%;
   
  }
  
  .role {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    max-width:250px;
    min-width: 250px;
    min-height: 250px;
    max-height: 250px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #ddbd66;
    box-shadow: 1px 1px 25px 0px rgba(221, 189, 102, 0.471);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideInUp 0.5s ease-out forwards;
    opacity: 0;
  }
  .role:nth-child(1) {
    animation-delay: 0.5s;
  }
  
  .role:nth-child(2) {
    animation-delay: 0.7s;
  }
  
  .role:nth-child(3) {
    animation-delay: 0.9s;
  }
  
  .role h3 {
    font-size: 1.5rem;
    margin-top: 15px;
  }
  
  .role:hover {
    transform: scale(1.05);
  }
  
  .roleImage {
    width: 80px;
    margin-top: 50px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Keyframes for roles sliding in one by one */
  @keyframes slideInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 750px) {
    .section{
        height: 350vh;
    }
    .contentContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .photoContainer {
      margin: 0 auto 20px auto;
    }
  
    .rolesContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .role {
      margin: 10px 0;
    }
  }
  
  /* Responsive styles for 450px */
  @media (max-width: 500px) {
    .section {
      height: 200vh;
    }
    .heading {
      font-size: 2rem;
    }
  
    .photo {
      width: 250px;
      height: 350px;
    }
  
    .descriptionContainer {
      font-size: 18px;
      
    }
    .textContainer{
        margin-right: 25px;
    }
  
    .role h3 {
      font-size: 1.2rem;
    }
  
    .roleImage {
      width: 60px;
      height: 60px;
    }
  }
  @media (max-width:450px) {
    .section {
      height: 230vh;
    }
  }
  